<form action="" (ngSubmit)="onSubmit()">
    <h2>Generador de numeros Aleatorios</h2>
    <div>
        <label for="">Ingrese el rango minimo</label>
        <input type="number" name="primernumero" [(ngModel)]="primernumero">
    </div>
    <div>
        <label for="">Ingrese el rango maximo</label>
        <input type="number" name="segundonumero" [(ngModel)]="segundonumero">
    </div>
    <div>
        <label for="">Ingrese la cantidad de resultados</label>
        <input type="number" name="cantresultados" [(ngModel)]="cantresultados">
    </div>

    <input type="submit" value="Generar">

</form>

<app-resultados [item]="resultados"></app-resultados>